.dropping {
    position: relative;
    background-color: blue;
}

.drop-pos {
    position: absolute;
    bottom: 0px;
    right: 0px;
    margin: 0;
}

.dropbtn {
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    display: block;
}

.dropup {
    position: relative;
    display: inline-block;
}

.dropup-content {
    display: none;
    position: absolute;
    /*background-color: #f1f1f1;*/
    /*min-width: 160px;*/
    bottom: 50px;
    z-index: 1;

}

.social-button {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    margin: 6px;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    word-spacing: 2px;
    text-align: center;
    color: #ffffff;
    border: 0.5px solid #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-button i {
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    display: block;
}

.social-links a {
    color: white;
    padding: 8px;
    font-size: 16px;
    border: none;
    display: block;
}

.dropup-content a:hover {
    background-color: #ccc
}

.dropup:hover .dropup-content {
    display: block;
}

.dropup:hover .dropbtn {
    background-color: #2980B9;
}

.list-inline-item {
    display: inline-block;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius: 50%;
    font-size: 13px;
    line-height: 7px;
    word-spacing: 2px;
    text-align: center;
    color: #ffffff;
    border: 0.5px solid #ffffff;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

dl, ol, ul {
    margin-top: 0;
    margin-bottom: 0;
}


/** {*/

/*    background: #000 !important;*/

/*    color: #0f0 !important;*/

/*    outline: solid #f00 1px !important;*/

/*}*/
