html,
body {
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
}

.container-properties {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #FF5733;
}

.navbar-properties {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    letter-spacing: 3px;
    /*background-color: #C3C2B7;*/
    background-color: #fafafa;
}

/*.navbar-light .navbar-nav .nav-link {*/

/*    color: #fafafa;*/

/*}*/

.heading {
    display: block;
    padding: 0;
    height: 100%;
}

.banner-properties {
    padding: 10px 0 0 0;
    margin: 0;
    /*height: 33.3333%;*/
}

.banner-properties p {
    font-family: "Cinzel", serif;
    letter-spacing: 10px;
    color: #fafafa;
    padding: 35px 0 0 0;
    margin: 0;
    font-size: 17.5vmin;
}

.container-properties .image-shell {
    /*height: 33.3333%;*/
    min-width: 100%;
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
}

.image-shell {
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-properties .image-properties {
    width: 100%;
    margin: 0;
}

.image-properties .col-12 {
    padding: 0;
    margin: 0;
}

/* SOLUTION: https://stackoverflow.com/questions/8508275/how-to-center-a-position-absolute-element */

/* SOME White Space created to the right on mobile !!!*/

/*.icon-properties {*/

/*position: absolute;*/

/*    margin-left: auto;*/

/*    margin-right: auto;*/

/*    left: 0;*/

/*    right: 0;*/

/*    bottom: 0;*/

/*    padding: 0;*/

/*}*/

.container-properties .heading .icon-properties {
    padding: 0;
    height: 33.3333%;
}

.icon-heading {
    padding: 30px;
    margin: 0px;
    bottom: 0;
}

.icon-properties a i {
    font-size: 50px;
    color: #fafafa;
    z-index: 1;
    text-align: center;
    /*This should only happen on small screens*/
    /*transform: translateY(100%);*/
}

.footer-stuff {
    padding: 0;
    position: fixed;
    display: inline-block;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

/* ouline social icons with links will go here */

.div-right {
    color: red;
    float: right;
    padding-right: 10px;
    display: inline-block;
}

/* a mailing list modal will go here */

.div-left {
    color: purple;
    float: left;
    padding-left: 10px;
    display: inline-block;
}


/*--------------------------------- MUSIC ----------*/

.music-top {
    padding-top: 10px;
    background-color: rgba(0, 102, 0, 1);
}

.music-properties {
    margin: 0;
}

.music-item-1 {
    padding: 0;
    text-align: center;
    /*background-color: #fafafa;*/
    color: #fafafa
}

.p-item {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 50px;
}

.music-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 25px;
}

.music-p {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 10px;
}




/** {*/

/*    background: #000 !important;*/

/*    color: #0f0 !important;*/

/*    outline: solid #f00 1px !important;*/

/*}*/
