html,
body {
    overflow-x: hidden;
}

.container-fluid {
    padding: 0;
}

.container-properties {
    height: 100%;
    padding: 0;
    margin: 0;
    background-color: #FF5733;
}

/*--------------------------------- NAVBAR ----------*/

.navbar-properties {
    padding: 0;
    margin: 0;
    font-family: "Lato", sans-serif;
    letter-spacing: 3px;
    /*background-color: #C3C2B7;*/
    background-color: #e54e2d;
}

.navbar-light .navbar-nav .nav-link {
    color: #fafafa;
}

/*--------------------------------- HOME PAGE ----------*/

.heading {
    display: block;
    padding: 0;
    height: 100%;
}

.banner-properties {
    padding: 10px 0 0 0;
    margin: 0;
    /*height: 33.3333%;*/
}

.banner-properties p {
    font-family: "Cinzel", serif;
    letter-spacing: 10px;
    color: #fafafa;
    padding: 35px 0 0 0;
    margin: 0;
    font-size: 17.5vmin;
}

.container-properties .image-shell {
    /*height: 33.3333%;*/
    min-width: 100%;
    background-repeat: no-repeat;
    overflow-y: hidden;
    overflow-x: hidden;
}

.image-shell {
    padding-top: 10px;
    padding-bottom: 10px;
}

.container-properties .image-properties {
    width: 100%;
    margin: 0;
}

.image-properties .col-12 {
    padding: 0;
    margin: 0;
}

.footer-stuff {
    padding: 0;
    position: fixed;
    display: inline-block;
    bottom: 0;
    width: 100%;
    background-color: rgba(255, 255, 255, 0);
}

/* ouline social icons with links will go here */

/*.div-right {*/

/*    color: red;*/

/*    float: right;*/

/*    padding-right: 10px;*/

/*    display: inline-block;*/

/*}*/

/* a mailing list modal will go here */

/*.div-left {*/

/*    color: purple;*/

/*    float: left;*/

/*    padding-left: 10px;*/

/*    display: inline-block;*/

/*}*/

/*--------------------------------- All PAGES ----------*/

.pages-main {
    padding-top: 10px;
    /*background-color: rgba(0, 102, 0, 1);*/
    background-color: #FF5733;
}



/*--------------------------------- MUSIC ----------*/

.music-properties {
    margin: 0;
    position: relative;
}

.music-item {
    padding: 0;
    text-align: center;
    /*background-color: #fafafa;*/
    color: #fafafa;
    font-family: "Lato", sans-serif;
}

.music-text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    overflow: hidden;
    background-color: #e54e2d;
    color: #44170d;
    padding: 25px;
    background-clip: content-box;
    margin: 0;
}

.music-text h2 {
    background-color: #b73e24;
    padding-top: 5px;
    font-family: "Cinzel", serif;
    color: #fafafa;
    /*border-radius: 50px;*/
}

.music-text p {
    color: #fafafa;
    font-family: "Lato", sans-serif;
}

.music-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
    padding: 25px;
}

.spotify-item h5 {
    margin: 0;
    color: #fafafa;
    letter-spacing: 10px;
}

/*--------------------------------- VIDEO ----------*/

#video-page {
    /*background-color: red;*/
}

.video-properties {
    position: relative;
    /*background-color: blue;*/
    padding: 0;
    margin: 0;
}

.youtube-item {
    position: relative;
    /*background-color: rgba(255, 255, 255, 50);*/
    border: 2px solid green;
    z-index: 1;
    padding: 50px;
}

/*.iframe-inst {*/
    /*position: absolute;*/
/*    top: 0;*/
/*    left: 0;*/
/*    width: 80%;*/
/*    height: 80%;*/
/*}*/


/** {*/

/*    background: #000 !important;*/

/*    color: #0f0 !important;*/

/*    outline: solid #f00 1px !important;*/

/*}*/
