html,
body {
  overflow-x: hidden;
  overflow-y: hidden;
  font-family: "Lato", sans-serif;
}

.container-fluid {
  padding: 0;
}

.container-properties {
  padding: 0;
  margin: 0;
  background-color: #FF5733;
}

/*----------------------------------------------------------- NAVBAR ----------*/
.navbar-properties {
  padding: 0;
  margin: 0;
  font-family: "Lato", sans-serif;
  letter-spacing: 3px;
  background-color: #e54e2d;
}

.navbar-light .navbar-toggler {
  border: none;
}

/* display and line-height here makes the clickable area the text itself only
https://stackoverflow.com/questions/18197619/reduce-clickable-area-for-link */
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  display: inline-block;
  line-height: 1em;
}

/*-------------------------------------------------------- HOME PAGE ----------*/
.banner-properties {
  padding: 10px 0 0 0;
  margin: 0;
  background-color: #fafafa;
}

.banner-properties p {
  font-family: "Cinzel", serif;
  letter-spacing: 5px;
  font-kerning: auto;
  color: #1694b0;
  padding: 0;
  margin: 0;
  font-size: 17.5vmin;
  font-weight: 400;
}

.container-properties .image-properties {
  width: 100%;
  margin: 0;
  border-top: 0px solid #e54e2d;
}

.image-properties .col-12 {
  padding: 0;
  margin: 0;
}

/*----------------------------------------------------------- FOOTER ----------*/
footer {
  padding: 0;
  position: fixed;
  display: inline;
  overflow: hidden;
  bottom: 0;
  width: 100%;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}

/*--------------------------------- MAILING LIST MODAL --*/
.mailing-main {
  position: relative;
}

.mailing-model {
  position: absolute;
  bottom: 5px;
  left: 25px;
}

.mailing {
  font-size: 26px;
  color: #ffffff;
  padding: 10px;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.mailing:hover {
  background-color: #e84610;
}

/*--------------------------------------------- SOCIAL --*/
.social-links {
  float: right;
  margin: 15px 19px 11px 15px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  word-spacing: 5px;
  margin-bottom: 5px;
  text-align: center;
  background-color: #fafafa;
  color: #e84610;
  border: 0.5px solid #ffffff;
}

.social-links li a i:hover {
  background-color: #e84610;
  color: #fafafa;
}

.social-links dl,
ol,
ul {
  margin-bottom: 1rem;
}

/* Styles S button */
.dropbtn {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  margin: 10px;
  border-radius: 50%;
  font-family: "Cinzel", serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 7px;
  word-spacing: 5px;
  text-align: center;
  color: #e54e2d;
  background-color: #FaFaFa;
  border: 0.5px solid #e54e2d;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

/*------------------------------------------------------------- DROP UP -------*/
/* https://www.w3schools.com/howto/howto_css_dropup.asp */

.dropping {
  position: relative;
}

/* places icon bottom right */
.drop-pos {
  position: absolute;
  bottom: 2px;
  right: 25px;
  margin: 0;
}

/* Creates pop-up */
.dropup-content {
  display: none;
  position: absolute;
  bottom: 30px;
  z-index: 1;
  margin: 1px -4px;
}

.dropup-content li {
  margin: 0;
}

/* Allows drop up to happen */
.dropup:hover .dropup-content {
  display: block;
}

/* Gives hover colour to S */
.dropup:hover .dropbtn {
  background-color: #e84610;
  color: #ffffff;
  border: 0.5px solid #FaFaFa;
}

/*-------------------------------------------------- PAGES BG COLOUR ----------
-------------------------------------------these can go back to a single class */
.pages-bgc-music {
  padding-top: 10px;
  background-color: #1694b0;
}

.pages-bgc-video {
  padding-top: 10px;
  background-color: #1694b0;
}

.pages-bgc-store {
  padding-top: 10px;
  background-color: #1694b0;
}

/*------------------------------------------------------------ MUSIC ----------*/
#music-page {
  padding: 0;
}

.music-main {
  position: relative;
  border: 8px solid #f9dbd5;
}

.music-item {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.music-text {
  border: 0;
  overflow: hidden;
  color: #44170d;
  padding-top: 10px;
  background-clip: content-box;
  margin: 0;
  border-color: #ffffff;
  border-width: 0 8px;
}

.spotify-item-ufof {
  position: absolute;
  top: 0;
  right: 0;
  width: 100%;
  height: 100%;
  border-color: #fafafa;
  border-width: 0;
}

.spotify-item-ufof .music-iframe {
  transform: translate(10%, 12%);
}

.quotes-header p {
  margin-bottom: 5px;
  margin-top: 18px;
  padding: 2px;
  font-family: "Cinzel", serif;
  color: #0b4a58;
  font-size: 1.2em;
  background-color: #f9dbd5;
}

.quotes p {
  color: #fafafa;
  font-family: "Lato", sans-serif;
  margin: 0;
  font-size: 1em;
  text-align: center;
  border-bottom: .5px solid #f9dbd5;
}

.quote-item p {
  padding-top: 5px;
  padding-bottom: 10px;
}

.quotes span {
  color: #000000;
  font-family: "Lato", sans-serif;
  margin-top: 2px;
  margin-bottom: 0;
  font-size: 1em;
}

.music-properties {
  position: relative;
  padding: 0;
  margin: 0;
}

.spotify-item {
  position: relative;
  border: 8px solid #f9dbd5;
  z-index: 1;
}

.spotify-item iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.spotify-item p {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 2px;
  font-family: "Cinzel", serif;
  color: #ffffff;
  font-size: 3vh;
}

.masterpiece {
  border: 8px solid #f9dbd5;
}

/*------------------------------------------------------------ VIDEO ----------*/
#video-page {
  padding: 0;
}

.video-properties {
  position: relative;
  padding: 0;
  margin: 0;
}

.youtube-item {
  position: relative;
  border: 8px solid #f9dbd5;
  z-index: 1;
}

.youtube-item iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.youtube-item p {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 2px;
  font-family: "Cinzel", serif;
  color: #ffffff;
  font-size: 3vh;
}

/*------------------------------------------------------------ STORE ----------*/
#store-page {
  padding: 0;
}

.store-properties {
  padding: 0;
  margin: 0;
}

.store-item {
  position: relative;
  z-index: 1;
  border: 8px solid #f9dbd5;
}

.store-item i {
  font-size: 18vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e54e2d;
  padding: 10px;
  border: 16px solid #f9dbd5;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.store-item a {
  color: #1F89A0;
}

.store-item a:hover {
  color: #f9dbd5;
}

/*------------------------------------------------------------- TOUR ----------*/
#tour-page {
  background-color: #f9dbd5;
}

.table-heading-properties {
  overflow-x: hidden;
  background-color: #fafafa;
}

/* Banner text background colour */
.table-heading-properties h2 {
  background-color: #fafafa;
}

.table-heading-properties .table-heading {
  text-align: center;
  font-size: 7vw;
  letter-spacing: 3vw;
}

.table-heading {
  font-family: "Cinzel, serif";
  letter-spacing: .5em;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #186d80;
  background-color: #fafafa;
  margin: 0;
}

.table th {
  padding: 0;
}

.table td {
  padding: .75rem;
  vertical-align: top;
  border-top: none;
  border-bottom: 1px solid #FFF;
  text-align: center;
  font-weight: 700;
  color: #722716;
}

.table td a:link {
  text-decoration: none;
}

.table td a {
  color: #ffffff;
}

.table td a:hover {
  color: #2d0f09;
}

/*------------------------------------------------------------- MODAL ---------*/
.btn-group-lg>.btn,
.btn-lg {
  padding: 0rem 0rem;
  font-size: 0rem;
  line-height: 0;
  border-radius: 0rem;
}

.close {
  float: right;
  font-size: 1.75rem;
  color: #000;
  opacity: 1;
}

.show {
  padding-right: 0;
}

.modal-header {
  font-family: "Cinzel", serif;
  color: #e54e2d;
}

.btn-custom {
  border: 2px solid #000;
}

.btn-light:hover {
  color: #212529;
  background-color: rgba(229, 78, 45, .5);
  border-color: #e54e2d;
}

/* * {
    background: #000 !important;
    color: #0f0 !important;
    outline: solid #f00 1px !important;
} */