html,
body {
  overflow-x: hidden;
  font-family: "Lato", sans-serif;
  height: 100%;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

/*----------------------------------------------------------- NAVBAR ----------*/
.navbar-properties {
  padding: 5px;
  margin: 0;
  font-family: "Lato", sans-serif;
  letter-spacing: 3px;
  background-color: #e54e2d;
}

/* Bootstrap Navbar should not have a border */
.navbar-light .navbar-toggler {
  border: none;
}

/* display and line-height here makes the clickable area the text itself only
https://stackoverflow.com/questions/18197619/reduce-clickable-area-for-link */
.navbar-light .navbar-nav .nav-link {
  color: #ffffff;
  display: inline-block;
  line-height: 1em;
}

/*--------------------------------------------------- The Dark pAGES ----------*/
.dpage-bgc {
  overflow: hidden;
  padding: 0;
  background-color: #212529;
}

/*--------------------------------------------------- The Light pAGES ----------*/
.lpage-bgc {
  background-color: #f9dbd5;
}

/*-------------------------------------------------------- BANNER TEXT (home & tour) ----------*/
.banner-heading-properties {
  overflow-x: hidden;
  border-bottom: 10px solid #212529;
  border-top: 10px solid #212529;
}

/*-------------------------------------------------------- HOME PAGE ----------*/
.banner-heading {
  text-align: center;
  font-size: 15vw;
  letter-spacing: 5vw;
  margin: 0;
  padding: 40px 0;
  font-family: "Cinzel", serif;
  font-weight: 700;
  color: #0b4a58;
  border-bottom: 10px solid #212529;
}

/*------------------------------------------------------------ MUSIC ----------*/

.container-music-top {
  padding-bottom: 30px;
  overflow: hidden;
}

.music-row {
  height: 80%;
  padding-top: 10px;
  padding-bottom: 100px;
  background-color: black;
}

.music-quotes {
  height: 50%;
}

.music-quotes h3 {
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
  color: #fafafa;
  margin: 30px 30px 20px;
  border-bottom: 2px solid #000000;
  padding-bottom: 10px;
}

.music-quotes h5 {
  font-family: "Cinzel", serif;
  font-size: 1.5rem;
  color: #fafafa;
  padding: 5px 10px 2px;
}

.music-quotes p {
  font-family: "Lato", sans-serif;
  font-size: .75rem;
  color: #fafafa;
  font-style: italic;
}

.music-title {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #fafafa;
  margin: 0;
  padding-top: 30px;
}

.outer {
  position: relative;
}

/* Sections between quotes should have half length & centred borders */
.inner {
  position: inherit;
  width: 50%;
  border-top: 0.75px solid #e54e2d;
}

.ufof iframe {
  padding: 40px 30px;
  height: 100%;
  width: 100%;
}

.music-lower iframe {
  height: 100%;
  width: 100%;
  padding: 25px 25px;
}

.music-lower {
  border-top: 1px solid black;
}

.music-lower h5 {
  transform: translateY(10%);
}

.col-cap {
  padding-top: 30px;
}

.masterpiece h5 {
  padding-top: 10px;
}

/*------------------------------------------------------------ VIDEO ----------*/
.video-properties {
  padding: 0;
  margin: 0;
  height: 100%;
  width: 100%;
}

.youtube-item {
  position: relative;
  border: 1px solid #000000;
  z-index: 1;
}

/* Frame should sit in center of parent container */
.youtube-item iframe {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: 80%;
  width: 80%;
}

.video-title h2 {
  text-align: center;
  margin-top: 40px;
  margin-bottom: 2px;
  font-family: "lato", sans-serif;
  font-weight: 700;
  letter-spacing: 1.5px;
  color: #ffffff;
  font-size: 2.2vh;
}

/*------------------------------------------------------------ STORE ----------*/
.store-properties {
  padding: 0;
  margin: 0;
}

.store-item {
  position: relative;
  z-index: 1;
  border: 1px solid #000000;
}

.store-item i {
  font-size: 22vh;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #e54e2d;
  padding: 10px;
  border: 12px solid #000000;
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

.store-item a {
  color: #000000;
}

.store-item a:hover {
  color: #fafafa;
}

/*------------------------------------------------------------- TOUR ----------*/
.banner-heading-tour {
  font-family: "Cinzel", serif;
  font-weight: 700;
  color: #0b4a58;
  text-align: center;
  font-size: 7vw;
  letter-spacing: 3vw;
  margin: 0;
  padding: 30px 0;
  border-bottom: 10px solid #212529;
}

.table-heading {
  font-family: "Cinzel, serif";
  letter-spacing: .5em;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #186d80;
  background-color: #fafafa;
  margin: 0;
}

/* Bootstrap table needs content formatting */
.table th {
  padding: 0;
}

.table td {
  padding: .75rem;
  vertical-align: top;
  border-top: none;
  border-bottom: 1px solid #FFF;
  text-align: center;
  font-weight: 700;
  color: #722716;
}

.table td a:link {
  text-decoration: none;
}

.table td a {
  color: #ffffff;
}

.table td a:hover {
  color: #2d0f09;
}

/*----------------------------------------------------------- FOOTER ----------*/

footer {
  padding: 0;
  position: fixed;
  display: inline;
  overflow: hidden;
  bottom: 0;
  background-color: rgba(255, 255, 255, 0);
  z-index: 1;
}

/*------------------------------------------------ MAILING LIST MODAL --*/
.mailing-main {
  position: relative;
}

.mailing-model {
  position: absolute;
  bottom: 10px;
  left: 30px;
}

.mailing {
  font-size: 26px;
  color: #e84610;
  padding: 5px;
  transition: all 0.35s ease-in-out;
  -moz-transition: all 0.35s ease-in-out;
  -webkit-transition: all 0.35s ease-in-out;
  -o-transition: all 0.35s ease-in-out;
}

.mailing:hover {
  background-color: #212529;
}

/* Mailing icon not clear when hovered in dark pages */
.dark-page .mailing:hover {
  background-color: #FaFaFa;
}

/*------------------------------------------------------------- SOCIAL --*/
.social-links {
  float: right;
  margin: 15px 19px 11px 15px;
}

.social-links li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  word-spacing: 5px;
  margin-bottom: 5px;
  text-align: center;
  background-color: #fafafa;
  color: #e84610;
  border: 0.5px solid #e84610;
}

.social-links li a i:hover {
  background-color: #e84610;
  border: 3px solid #212529;
  color: #fafafa;
}

/* Social links not clear on dark pages */
.dark-page .social-links li a i:hover {
  background-color: #e84610;
  border: 3px solid #fafafa;
  color: #fafafa;
}

.social-links dl,
ol,
ul {
  margin-bottom: 1rem;
}

.social-links-du {
  float: right;
}

.social-links-du li a i {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  border-radius: 50%;
  font-size: 13px;
  line-height: 7px;
  word-spacing: 5px;
  margin-bottom: 5px;
  text-align: center;
  background-color: #fafafa;
  color: #e84610;
  border: 0.5px solid #e84610;
}

.social-links-du li a i:hover {
  background-color: #e84610;
  border: 3px solid #212529;
  color: #fafafa;
}

/* Social links not clear on dark pages */
.dark-page .social-links-du li a i:hover {
  background-color: #e84610;
  border: 3px solid #fafafa;
  color: #fafafa;
}

.social-links-du dl,
ol,
ul {
  margin-bottom: 1rem;
}

/*------------------------------------------------------ DROP UP -------*/
/* https://www.w3schools.com/howto/howto_css_dropup.asp */

/* Parent class */
.dropping {
  position: relative;
}

/* to place S icon bottom right */
.drop-pos {
  position: absolute;
  bottom: 2px;
  right: 25px;
  margin: 0;
}

/* Creates pop-up */
.dropup-content {
  display: none;
  position: absolute;
  bottom: 30px;
  z-index: 1;
  margin: 1px -4px;
  /* transform: translateX(10px); */
}

.dropup-content li {
  margin: 0;
}

/* Drop up icon stack vertically */
.dropup:hover .dropup-content {
  display: block;
}

.dropbtn {
  width: 32px;
  height: 32px;
  padding: 12px 0;
  margin: 10px;
  border-radius: 50%;
  font-size: 16px;
  word-spacing: 5px;
  text-align: center;
  color: #e54e2d;
  background-color: #FaFaFa;
  border: 0.5px solid #e54e2d;
  transform: translateX(-10px);
  transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  -webkit-transition: all 0.5s ease-in-out;
  -o-transition: all 0.5s ease-in-out;
}

/* Drop button h5 text should sit in centre of button */
.dropbtn h5 {
  font-weight: bold;
  font-family: "Lato", sans-serif;
  transform: translateY(-10px);
  font-weight: bold;
  font-family: "Lato", sans-serif;
}

.dropup:hover .dropbtn {
  background-color: #e84610;
  color: #ffffff;
  border: 3px solid #212529;
}

/* Drop-up button should not appear to shrink in on dark pages when pressed  */
.dark-page .dropup:hover .dropbtn {
  background-color: #e84610;
  color: #ffffff;
  border: 3px solid #fafafa;
}

/*------------------------------------------------------------- MODAL ---------*/

/* Helps in setting exact placement mail icon */
.btn-group-lg>.btn,
.btn-lg {
  padding: 0rem 0rem;
  font-size: 0rem;
  line-height: 0;
  border-radius: 0rem;
}

/* Close X is not prominent enough */
.close {
  float: right;
  font-size: 1.75rem;
  color: #000;
  opacity: 1;
}

.modal-header {
  font-family: "Cinzel", serif;
  color: #e54e2d;
}

.btn-custom {
  border: 2px solid #000;
}

.btn-light:hover {
  color: #212529;
  background-color: rgba(229, 78, 45, .5);
  border-color: #e54e2d;
}

/*------------------------------------------------------ MEDIA QUERIES ---------*/

/* Main banner text should be single line on 
large screens so whole image shows */
@media(min-width: 1025px) {
  .banner-heading {
    font-size: 7vw
  }
}

/* Text should be suitable for md +  */
@media(min-width: 576px) {
  .music-quotes p {
    font-size: 100%;
  }

  .music-quotes h3 {
    font-size: 2rem;
  }
}

/* Video iframe should be smaller % of div in md+ so as to fit text */
@media(min-width: 766px) {
  .youtube-item iframe {
    height: 60%;
    width: 60%;
  }
}